* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: pink;
}
form {
  background-color: silver;
  width: 350px;
  height: 580px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 75px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
  margin-bottom: 45px;
  color: white;
  font-size: 40px;
}
.textBoxdiv {
  border-bottom: 2px solid white;
  position: relative;
  margin: 35px 0;
}
.textBoxdiv input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: white;
  height: 30px;
  font-size: 20px;
}
.loginBtn {
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  background: darkred;
  transition: 0.5s;
  color: white;
  font-size: 16px;
}
.loginBtn:hover {
  background-color: darkgreen;
  font-size: 17px;
}
.signup {
  color: white;
  margin-top: 45px;
  text-align: center;
}
.signup a {
  color: black;
}
